body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor-pedidos {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
    color: #333;
}

.pedido {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.id-pedido {
    margin-bottom: 10px;
}

.productos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.informacion-producto {
    flex-grow: 1;
    text-align: left;
}

.imagen-producto {
    flex-shrink: 0;
    margin-left: 15px;
    order: 2;
}

.imagen-producto img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.estado {
    font-weight: bold;
    color: #000307;
}

.boton-confirmar {
    display: block;
    width: 100%;
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.boton-confirmar:hover {
    background: #218838;
}
