<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Envíos</title>
    <link rel="stylesheet" href="/css/envios.css">
</head>
<body>
    <header>
        <h1>Gestión de Envíos</h1>
        <nav>
            <a href="/ecommerce/">Gestionar productos</a>
            <a href="/">Salir</a>
        </nav>
    </header>
    <section class="lista-envios">
        <h2>Lista de Envíos</h2>
        <table>
            <thead>
                <tr>
                    <th>ID Envío</th>
                    <th>ID Pedido</th>
                    <th>Ciudad</th>
                    <th>Codigo postal</th>
                    <th>Estado</th>
                    <th>Asignar Estado</th>
                </tr>
            </thead>
            <tbody>
                <!-- Generar filas dinámicamente con Thymeleaf -->
                <tr th:each="envio : ${envios}" th:if="${envio.estado != 'Entregado'}">
                    <td th:text="${envio.idEnvio}"></td>
                    <td th:text="${envio.pedido.idPedido}"></td>
                    <td th:text="${envio.ciudad}"></td>
                    <td th:text="${envio.codigoPostal}"></td>
                    <td th:text="${envio.estadoEnvio}"></td>
                    <td>
                        <button th:if="${envio.estado == 'pendiente'}"
                                th:data-id="${envio.idEnvio}"
                                th:data-estado="${envio.estado}"
                                onclick="entregarEnvio(this)"
                                class="btn">Despachar</button>
                        <button th:if="${envio.estado == 'En proceso'}"
                        th:data-id="${envio.idEnvio}"
                        th:data-estado="${envio.estado}"
                                onclick="entregarEnvio(this)"
                                class="btn">Entregar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <script src="/css/js/envios.js"></script>
</body>
</html>
